<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="LogConfigPath" value="/config/log4net.config" />
  <add key="CacheType" value="" />
  <add key="CacheKeyPrefix" value="JC_" />
  <add key="TestUserID" value="3" />
  <add key="SurveyPhotosPath" value="d:/Survey/Pictures" />
  <add key="ItemImagesURL" value="https://crm.adenservices.com/jc/" />
  <add key="ActivityImagesURL" value="http://web.adenservices.com/img/OtherPages/" />
  <add key="ItemOtherPagesPath" value="itemimages/otherpages" />
  <add key="WSURL" value="https://crm.adenservices.com/WebSocketHandler/Handler.ashx" />
  <add key="AliAccount" value="oxygen@adenservices.com"/>
  <add key="AliPartner" value="2088221766679204"/>
  <add key="AliKey" value="35q1o5uzpjcgkv0lrsloqbwqffwekznu"/>
  <add key="AliNotifyUrl" value="http://mall.adenchina.net/Plugin/Payment/AliPay/AlipayNotify.aspx"/>
  <add key="AliReturnUrl" value="http://mall.adenchina.net/Plugin/Payment/AliPay/AlipayReturn.aspx"/>
  <add key="WeChatAppID" value="wx7c71479ebee090ec"/>
  <add key="WeChatAppSecret" value="7130e1c75ec0b514a60983dcccbc1824"/>
  <add key="WeChatMchID" value="1340365001"/>
  <add key="WeChatKey" value="12345678901234567890123456789012"/>
  <add key="WeChatNotifyUrl" value="{0}/Plugin/Payment/WxPay/WxpayNotify.aspx"/>
  <add key="WeChatToken" value="adenoxygen"/>
  <add key="WeChatEncodingAESKey" value="jWChjHZl0fuhA7crslRdnFqaBkefl5rvj1jO8ZpCY8J"/>
  <add key="WeChatAgentUrl" value=""/>
</appSettings>