<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogConfigPath" value="/config/log4net.config" />
    <add key="Printer" value=""/>
    <add key="SynchData" value="/func/Calculator.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="AdenDB" connectionString="server=120.27.140.39;database=AdenDB;uid=aden;pwd=adendb123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
